<footer class="footer">
  <div class="row">
    <div class='col-sm-4'>
      <h4><strong>Klub Sportowy BTG Bydgoszcz</strong></h4>
      <h5>ul. Smoleńska 17A</h5>
      <h5>85-833 Bydgoszcz</h5>
      <br>
      <h6>&copy; 2018 B&J</h6>
    </div>

    <div class="col-sm-4">
      <h4>Kontakt</h4>
        <ul><h5><span class="glyphicon glyphicon-envelope"></span> <%= mail_to "abukuba2134@gmail.gov.pl" %></h5></ul>
        <ul><h5><span class="glyphicon glyphicon-earphone"></span> +48 784 024 795 </h5></ul>
    </div>

    <div class="col-sm-4">
      <h4>Dane</h4>
        <ul><h5> NIP: 9532731878</h5></ul>
        <ul><h5> REGON: 368743003</h5></ul>
        <ul><h5> Konto: Bank Spółdzielczy w Brodnicy 90 9484 1192 2950 0950 2110 0001</h5></ul>
        <ul><h5> Wpisany do ewidencji klubów sportowych pod nr 97</h5></ul>
    </div>
  </div>  <!-- /row -->

</footer>
